.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 25px 80px 25px;   
}
.eventschild{
    max-width: 70rem;
}
.eventschild h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textp{
    text-align: start;

}
.imgpart1, .imgpart3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.imgpart1{
    padding:0px 40px 0px 40px;
}
.imgpart1 img{
    width:13rem;
    height:19rem;
    border-radius: 5px;
}
.imgpart3 img{
    width:18rem;
    height:13rem;
    border-radius: 5px;
}
.imgpart2{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding:0px 20px 0px 20px;
}
.imgpart2 img{
    border-radius: 5px;
}


.imgpart1, .imgpart2, .imgpart3{
    width: 100%;
    margin-top: 40px;   
}