h3{
    text-align: center;
    margin-bottom: 15px;;
}

.threeitems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 25px; 
}
.card{
    border-width: 0px;
    width: 20rem;
    color:#6d6c6a;
}
.card-img-top:hover{
    transform: scale(1.1); 
    transition-duration: 0.4s;
}
h3{
    color: #e3b674;
 }
 .formdiv{
     height:700px;
     border-style: dashed;
     border-color: #e3b674;
     border-width: 2px;
 }